@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Sklep stworzony na potrzeby przedmiotu SOA w projektowaniu i tworzeniu aplikacji.
    </p>
    <p><strong>Autorzy</strong>
        <ul>
            <li>Tomasz Michalski</li>
            <li>Jakub Leśniak</li>
            <li>Piotr Borzęcki</li>

        </ul>

    </p>
   
</article>

