@model System.Collections.Generic.List<StoreFront.Services.CartEntry>

@{
    ViewBag.Title = "SOA Store - Cart";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>Products in your cart:</h3>
<table cellpadding="20"  style="border: 1px solid red;">

        <tr>
            <th>Product</th>
            <th>Quantity</th>
        </tr>



    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Product.Name</td>

            <td>@product.Count</td>
        </tr>
    }

</table>
